<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Drowning.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5C87E3F54B4D3655F035EF65C0382C795319B759</string>
				<key>dateExpires</key>
				<string>17/3/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>P6PV2R9443.sg.tk.swimtrack</string>
				<key>com.apple.developer.team-identifier</key>
				<string>P6PV2R9443</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Drowning.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>41341f48-684a-46cf-a00e-0bb2e9770bff</string>
				<key>dateExpires</key>
				<string>8/6/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: sg.tk.swimtrack</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>P6PV2R9443</string>
				<key>name</key>
				<string>The Hack Foundation</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
